$white: #fff;
$black: #000;
$grey-dark: #1a1a1a;
$grey: #262626;
$blue-light: #66d9ff;
$blue-bright: #00ffff;
$blue-dark: #4da6ff;
$navy: #0B304A;
$navy-dark: #020E1E;

$navy-background-top: #085d68;
$navy-background-mid: #08384F;
$navy-background-bottom: #0A1739;

$navy-aside-top: #02545F;
$navy-aside-mid: #00364A;
$navy-aside-bottom: #000427;
$default-font-color: #F9FFF8;